<!-- все содержимое этого шаблона будет доступно по тегу <app-product></app-product>,но только в том компоненте в котором указали данный компонент как declarations в @NgModule -->
<!-- Важно помнить что интерполяция работает тольуо если передавать данные не как паметр к тегу, если это паметр(свойство) тега, как alt  у img, то надо свойство обозначть [], а значение '' -->
<!-- А если это слушатель то (событие) -->
<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-2">
  <h2 class="mb-2 text-md text-center">{{ product.title }}</h2>
  <p>Price: <span class="font-bold">{{ product.price | currency: "Шекелей " }}</span></p>
  <!-- опять пайпы, если оставить currency без обозначения типа то будет автоматическое значение, а если казывать тип, то такое значение и будет -->

  <!-- для работы кнопки(она зависит от переключения состояний), будем использовать директивы -->
  <!-- есть два вида директив: обычные и структурные -->
  <!-- обычные не влияют на шаблон, а структурные позволяют менять шаблон компонента -->
  <!-- структурные обозначаються через *, а обычные [] -->

  <button
    class="border py-2 px-4 rounded bg-yellow-400"
    [ngClass]="{'bg-yellow-400': !details, 'bg-blue-400': details}"
    (click)="details = !details">
    {{ details ? "Скрыть" : "Показать" }} детали
    <!-- использована не структурная, обычная директива для изменения цвета кнопки -->
    <!-- реакцию на событие можно описывать тут, а можно использовать получаемую функцию -->
    <!-- интерполяция позволяет использовать условия -->
  </button>

  <!-- данный блок будет отображен только если значение details равно true -->
  <!-- использована структурная директива -->
  <div *ngIf="details">
    <p>{{product.description}}</p>
    <p>Rate: <span [ngStyle]="{fontWeight:'bold'}">{{product.rating.rate | number: '1.2-4'}}</span></p>
    <!-- еще пример обычный директивы для изменения стилей, можно передавать стили и использовать тут  -->
    <!-- а пайпы можно использовать для изменения формата чисел -->
  </div>


</div>

