<app-globak-error></app-globak-error>

<div class="max-w-2xl container mx-auto pt-5 relative">

  <h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>
  <!-- {{ данные }} - это интерполяция, позволяет нам использовать данные обьявленные в классе, если их можно привести к строке -->
  <!-- | -это пайпы, позволяет нам менять отображение данных -->

  <!-- для фильтрации создадим класс-пайп -->
  <input
    type="text"
    class="mb-2 border py-2 px-4 w-full"
    placeholder="Фильтр продуктов"
    [(ngModel)] = "term"
  >

  <!-- если лоадинг тру то будем видеть индикатор загрузки -->
  <p *ngIf="loading" class="text-center text-lg">Загрузка...</p>

  <!--1) создали компонент(класс+декоратор @Component)
      2) портировали его в основной компонент
      3) зарегистрировали его как компонент в декораторе @NgModule
      4) теперь можем использвать его в виде тега -->

  <!-- циклы работают через структурные директивы -->
  <!-- содаем диретивой ngFor интерируемый элемент используя let -->
  <!-- итерируемый элемент product создан из массива products$ -->
  <!-- если понадобиться индекс, он создается таким образом, это не обязательно -->
  <!-- интерируемый элемент это параметр, мы должны передать его в компонент  -->
  <!-- обращаемся к стриму и пропускаем его через пайп async, он автоматически подпишется на стрим и выведет данные -->
  <!-- ФИЛЬТРАЦИЯ -->
  <!-- для фильтрации нужно немного изменить конструкцию -->
  <!-- Мы создали класс-пайп filterProducts, перелаем в него массив данных и запрос -->
  <div *ngIf="productsService.products">
    <app-product
      *ngFor="let product of productsService.products | filterProducts: term; let i = index"
      [product]="product">
    </app-product>
  </div>
  <!-- попап-СОЗДАНИЕ ПРОДУКТОВ -->
  <app-modal title="Создать новый продукт" *ngIf="modalService.isVisible$ | async">
    <app-create-product></app-create-product>
  </app-modal>

  <button class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4" (click)="modalService.open()">+</button>


</div>


