<div class="max-w-2xl container mx-auto pt-5">
  <h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>
  <!-- {{ данные }} - это интерполяция, позволяет нам использовать данные обьявленные в классе, если их можно привести к строке -->
  <!-- | -это пайпы, позволяет нам менять отображение данных -->

  <!-- если лоадинг тру то будем видеть индикатор загрузки -->
  <p *ngIf="loading" class="text-center text-lg">Загрузка...</p>

  <!--1) создали компонент(класс+декоратор @Component)
      2) портировали его в основной компонент
      3) зарегистрировали его как компонент в декораторе @NgModule
      4) теперь можем использвать его в виде тега -->

  <!-- циклы работают через структурные директивы -->
  <!-- содаем диретивой ngFor интерируемый элемент используя let -->
  <!-- итерируемый элемент product создан из массива products -->
  <!-- если понадобиться индекс, он создается таким образом, это не обязательно -->
  <!-- интерируемый элемент это параметр, мы должны передать его в компонент  -->
  <app-product
    *ngFor="let product of products; let i = index"
    [product]="product">
  </app-product>

</div>
