<h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>
<!-- {{ данные }} - это интерполяция, позволяет нам использовать данные обьявленные в классе, если их можно привести к строке -->
<!-- | -это пайпы, позволяет нам менять отображение данных -->

<!-- 1) создали компонент(класс+декоратор @Component)
     2) портировали его в основной компонент
     3) зарегистрировали его как компонент в декораторе @NgModule
     4) теперь можем использвать его в виде тега -->
<app-product></app-product>
<app-product></app-product>
<app-product></app-product>
<app-product></app-product>
